[submodule "AI"]
	path = AI
	url = https://github.com/GabrielFerreiraMendes/minusframework-ai.git
[submodule "Core"]
	path = Core
	url = https://github.com/GabrielFerreiraMendes/minusframework-core.git
[submodule "Extensions"]
	path = Extensions
	url = https://github.com/GabrielFerreiraMendes/minusframework-extensions.git
[submodule "Messaging"]
	path = Messaging
	url = https://github.com/GabrielFerreiraMendes/minusframework-messaging.git
[submodule "ORM"]
	path = ORM
	url = https://github.com/GabrielFerreiraMendes/minusframework-orm.git
[submodule "Telemetry"]
	path = Telemetry
	url = https://github.com/GabrielFerreiraMendes/minusframework-telemetry.git
[submodule "Cli"]
	path = Cli
	url = https://github.com/GabrielFerreiraMendes/minusframework-cli.git
[submodule "FeatureFlags"]
	path = FeatureFlags
	url = https://github.com/GabrielFerreiraMendes/minusframework-featureflags.git
[submodule "Migrator"]
	path = Migrator
	url = https://github.com/GabrielFerreiraMendes/minusframework-migrator.git
